$def with (stream_sets)
$var css: site.css plot.css
$var js: jquery.js jquery.flot.js jquery.flot.resize.js jquery.flot.time.js
<h1>Magnetometer</h1>
$for stream_set in stream_sets:
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1 class="panel-title">${stream_set["description"]}</h1>
        </div>
        <div class="panel-body">
          <div class="row">
            $for stream in stream_set["streams"]:
              <div class="col-md-12 col-lg-6">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">${stream.get_description()}</h3>
                  </div>
                  <div class="panel-body">
                    <div id="plot-${stream.stream_type}_${stream.channel.channel_num}" class="plot-sm"></div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<script type="text/javascript">
$for stream_set in stream_sets:
  $for stream in stream_set["streams"]:
    var data_${stream.stream_type}_${stream.channel.channel_num} = $stream.get_time_series_js()

    $$.plot("#plot-${stream.stream_type}_${stream.channel.channel_num}", [data_${stream.stream_type}_${stream.channel.channel_num}], {
      xaxis: {mode: "time"}
    });
</script>
