$def with (data_js, data_since)
$var css: site.css plot.css
$var js: jquery.js jquery.flot.js jquery.flot.time.js
<h1>Magnetometer</h1>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">Last hour <small>since $data_since</small></h1>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">North/South</h3>
              </div>
              <div class="panel-body">
                <div id="plot-1" class="plot-sm"></div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">East/West</h3>
              </div>
              <div class="panel-body">
                <div id="plot-2" class="plot-sm"></div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Up/Down</h3>
              </div>
              <div class="panel-body">
                <div id="plot-3" class="plot-sm"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $$(function() {
    var data1 = [$data_js[0]];
    var data2 = [$data_js[1]];
    var data3 = [$data_js[2]];

		$$.plot("#plot-1", [data1], {
			xaxis: {mode: "time"}
		});
    $$.plot("#plot-2", [data2], {
			xaxis: {mode: "time"}
		});
    $$.plot("#plot-3", [data3], {
			xaxis: {mode: "time"}
		});
	});
</script>
